*, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
}

html, body {
	height: 100%;
	
	background: teal;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow: hidden;
}
body {
    margin: 0;
}

.flex-container {
	height: 100%;
	
	padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .row {
      width: auto;
  }
    .flex-item {
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
	}
	
.banque {
	width: 700px;
	height: 560px;

	background: rgb(100, 149, 237);
}
	.solde {
		height: 50px;
		width: 100%;

		background: rgb(100, 149, 237);
		font-size: 1rem;
		line-height: 50px;
		color: white;
		text-align: center;
		padding: 0 0 0 10px;
	}
	nav {
		width: 100%;
		height: 50px;
	}
		nav ul li {
			width: calc(100% / 3);

			background: rgb(52, 93, 170);
			float: left;
			list-style: none;
			cursor: pointer;
			text-decoration: none;
			color: white;
			line-height: 50px;
			font-size: 1rem;
			border-bottom: 1px solid rgb(52, 93, 170);
		}
		nav ul li:not(:last-child) {
			border-right: 1px solid aliceblue;
		}
		nav .active {
			background: rgb(74, 131, 238);
		}

.bloc {
	width: 100%;
	height: calc(100% - 50px);

	padding: 20px 0 0 0;
	background: rgb(100, 149, 237);
}
	.bloc header {
		width: 100%;
		height: 50px;

		background: rgb(52, 93, 170);
	}
	.bloc > header h1 {
		font-size: 1.2rem;
		line-height: 50px;
	}
	.bloc main {
		width: 100%;
		height: calc(100% - 100px);

		background: rgb(100, 149, 237);
	}
		.bloc main input {
			width: 100%;
			height: 100px;

			text-align: center;
			color: #fff;
			background: transparent;
			border: none;
			
			font-size: 100px;
			margin: 20% 0 0 0;
			
			padding: 0 auto;
		}
		.bloc main input[type=number],
		.bloc main input::-webkit-inner-spin-button,
		.bloc main input::-webkit-outer-spin-button { 
			-webkit-appearance: none;
			-moz-appearance: textfield;
		}
		.bloc main input::-webkit-input-placeholder {
			color: #fff
		}
		.bloc main input:-ms-input-placeholder {
			color: #fff
		}
		.bloc main input::placeholder {
			color: #fff
		}
	.bloc footer {
		width: 100%;
		height: 50px;

		float: left;
		background: rgb(52, 93, 170);
	}
		footer button {
			width: 100%;
			height: 50px;

			border: none;
			background: transparent;
			cursor: pointer;
			color: #fff;
			font-size: 1rem;
			float: left;
			font-family: Arial, sans-serif;
		}

.destinataire {
	width: 700px;
	height: 610px;

	background: white;
	position: fixed;
	top: calc(50% - 305px);
}
	.destinataire header {
		width: 100%;
		height: 50px;

		float: left;
		background: rgb(52, 93, 170);
	}
		.destinataire header h1 {
			font-size: 1.2rem;
			line-height: 50px;
		}
		.destinataire main {
			width: 100%;
			height: 510px;
	
			background: rgb(100, 149, 237);
			float: left;
			overflow: auto;
			padding: 0 0 15px 0;
		}
			.destinataires ul {
				list-style: none;
				padding: 10px 0;
			}
			.destinataires ul li {
				width: 50%;
				height: 25px;

				display: block;
				margin: 15px auto 0 auto;
				font-size: 1.5rem;
				text-align: center;
			}
			.destinataires ul li label input[type="radio"] {
				margin-right: 20px;
			}
		.destinataire footer {
			width: 100%;
			height: 50px;
	
			background: rgb(20, 62, 139);
			float: left;
		}
			.destinataire footer button {
				width: 50%;
				height: 50px;
		
				background: transparent;
				float: left;
			}
			.destinataire footer button:first-child {
				border-right: 1px solid white;
			}